{% extends 'AppBundle::layout.html.twig' %}

{%  block page %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">
                <h1>Category and attributes</h1>
            </div>
            <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">
                <h1>Catalog</h1>
                <hr />
                <div class="row text-center">
                    {% for product in products %}
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="card card-product">
                                {% if product.image %}
                                    <img  src="{{ media(app.user.image) | imagine_filter('thumbnail_quality_100_128x128_outbound') }}" class="card-img-top" alt="{{ product.title }}">
                                {% else %}
                                    <img  src="http://alhayat-altayba.com/images/empty.png" class="card-img-top" alt="{{ product.title }}">
                                {% endif %}
                                <div class="card-body">
                                    <h4 class="card-title">{{ product.title }}</h4>
                                    <p class="card-text">{{ product.description }}</p>
                                    <a href="#" class="btn btn-primary">{{ 'Add to cart' }}</a>
                                    <a href="#" class="btn btn-primary">{{ 'View' }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>

                {% if products.haveToPaginate %}
                    <br/>
                    <div class="navigation text-center">
                        {{ pagerfanta(products, 'app_pagerfanta_template_default', {routeName: 'products_list'}) }}
                    </div>
                {% endif %}


            </div>
        </div>
    </div>

{% endblock %}
