{% extends 'AppBundle::layout.html.twig' %}

{% block page %}
    <div class="row">
        <div class="col-12 col-sm-12 col-md-3 col-lg-3 col-xl-3">

            {{ knp_menu_render('AppBundle:MenuBuilder:createProductCategoriesMenu', { currentClass: 'active' }) }}

            <br />
            {{ render(controller('AppBundle:ProductAttr:filterForm')) }}
        </div>

        <div class="col-12 col-sm-12 col-md-9 col-lg-9 col-xl-9">


            <div class="row">

                <div class="col-sm-12 col-sm-offset-3">
                    <form method="get" action="">
                        <div id="imaginary_container">
                            <div class="input-group stylish-input-group">
                                <input type="text" value="" class="form-control" placeholder="{{ 'Search' | trans }}">
                                <span class="input-group-addon">
                        <button type="submit" class="btn btn-primary">
                                    {{ 'Search' | trans }}
                        </button>
                    </span>
                            </div>
                        </div>
                    </form>
                </div>

            </div>


            <br/>
            <h1>Catalog</h1>

            {% if products | length > 0 %}
                <div class="row text-center">
                    {% for product in products %}
                        <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
                            <div class="card card-product">
                                <a href="{{ path('product_view', { id: product.id }) }}">
                                    {% if product.image %}
                                        <img src="{{ media(product.image) | imagine_filter('thumbnail_quality_100_128x128_outbound') }}"
                                             class="card-img-top" alt="{{ product.title }}">
                                    {% else %}
                                        <img src="{{ parameter('product_default_image') }}" class="card-img-top"
                                             alt="{{ product.title }}">
                                    {% endif %}
                                </a>
                                <div class="card-body">
                                    <h4 class="card-title"><a
                                                href="{{ path('product_view', { id: product.id }) }}">{{ product.title }}</a>
                                    </h4>

                                    <p class="card-text">
                                        {% if product.attrValues is not empty %}
                                            <ul class="list-group">
                                        {% for attrValues in product.attrValues.toArray() | sort_by_field('attribute.position', 'desc') %}
                                            <li class="list-group-item">
                                                <strong>{{ attrValues.attribute.title }}</strong>
                                                {{ attrValues.value }}
                                            </li>
                                        {% endfor %}
                                            </ul>
                                        {% endif %}
                                    </p>

                                    <p><label>{{ 'Price' | trans }}:</label> <strong>{{ product.price | number_format(2, ',', ',') }}</strong></p>

                                    <a href="#" class="btn btn-primary">{{ 'Add to cart' }}</a>
                                    <a href="{{ path('product_view', { id: product.id }) }}"
                                       class="btn btn-success">{{ 'View' }}</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <div class="alert alert-info">{{ 'Products not found.' }}</div>
            {% endif %}
            {% if products.haveToPaginate %}
                <br/>
                <div class="navigation text-center">
                    {{ pagerfanta(products, 'app_pagerfanta_template_default', {routeName: 'products_list', 'routeParams': { categoryId: categoryId }} ) }}
                </div>
            {% endif %}

            <br/>
        </div>
    </div>
{% endblock %}
