{% trans_default_domain 'FOSUserBundle' %}

<div class="row justify-content-md-center">
    <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
        {{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}

        <div class="form-group">
            {{ form_label(form.email) }}
            {{ form_widget(form.email, {attr: {class: 'form-control'}}) }}
            {% if form.email.vars.errors and form.email.vars.errors | length > 0 %}
                {% for error in form.email.vars.errors %}
                    <span class="text-danger">{{ error.message }}</span>
                {% endfor %}
            {% endif %}

        </div>
        <div class="form-group">
            {{ form_label(form.username) }}
            {{ form_widget(form.username, {attr: {class: 'form-control'}}) }}
            {% if form.username.vars.errors and form.email.vars.errors | length > 0 %}
                {% for error in form.username.vars.errors %}
                    <span class="text-danger">{{ error.message }}</span>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group">
            {{ form_label(form.plainPassword.first) }}
            {{ form_widget(form.plainPassword.first, {attr: {class: 'form-control'}}) }}
            {% if form.plainPassword.first.vars.errors and form.plainPassword.first.vars.errors | length > 0 %}
                {% for error in form.plainPassword.first.vars.errors %}
                    <span class="text-danger">{{ error.message }}</span>
                {% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form_label(form.plainPassword.second) }}
            {{ form_widget(form.plainPassword.second, {attr: {class: 'form-control'}}) }}
            {% if form.plainPassword.second.vars.errors and form.plainPassword.second.vars.errors | length > 0 %}
                {% for error in form.email.vars.errors %}
                    <span class="text-danger">{{ error.message }}</span>
                {% endfor %}
            {% endif %}
        </div>

        {{ form_widget(form) }}
        <div>
            <input class="btn btn-primary" type="submit" value="{{ 'registration.submit'|trans }}"/>
        </div>
        {{ form_end(form) }}
    </div>
</div>