
{% block checkbox_widget -%}
    <label for="{{ id }}" class="custom-control custom-checkbox">
    <input type="checkbox" {{ block('widget_attributes') }} class="custom-control-input" id="{{ id }}" {% if value is defined %} value="{{ value }}"{% endif %}{% if checked %} checked="checked"{% endif %} />
        <span class="custom-control-indicator"></span>
        <span class="custom-control-description">{{ translation_domain is same as(false) ? label : label|trans({}, translation_domain) }}</span>
    </label>
{%- endblock checkbox_widget %}
