

{% form_theme filterForm 'AppBundle:form:filter/fields.html.twig' %}

<div class="card">
    <div class="card-block">
        <div class="card-body">

            {{ form_start(filterForm) }}

            {% for key, attr in  filterForm.attributes %}

                {{ form_label(attr.values, null, {label_attr: {class: 'badge badge-info'}}) }}<br/>

                {% if key == 'price' %}
                    <br/>
                    <div class="row">
                        {% for value in  attr.values %}
                            <div class="col-6 col-sm-6 col-md-6 col-lg-6 col-xl-6">
                                {{ form_label(value.value, null, {label_attr: {class: 'badge badge-info'}}) }}
                                {{ form_widget(value.value, {attr: {class: 'form-control'}}) }}
                            </div>
                        {% endfor %}
                    </div>

                {% else %}

                    {% for value in  attr.values %}
                        {% if  value.active is defined %}
                            {{ form_widget(value.active) }}<br/>
                        {% else %}
                            {{ form_row(value.value) }}
                        {% endif %}
                    {% endfor %}

                {% endif %}
            {% endfor %}

            <br/>
            <button type="submit" class="btn btn-primary">{{ 'Filter' | trans }}</button>
            {{ form_end(filterForm) }}

        </div>
    </div>
</div>
<br/>